@{
}
<div class="container mt-3">   
   <h5 class="fw-bold text-uppercase">Default Leaves</h5>
    <p>These are the default leaves provided to you by the company</p>
     <table class="table table-hover mt-3">     
     <thead>       
     <tr>         
         <th>Sr No</th>         
         <th>Date</th>         
         <th>Day</th>         
         <th>Festival name</th>       
     </tr>     
     </thead>     
     <tbody>       
         <tr>         
             <td>1</td>         
             <td>1/26/2023</td>         
             <td>Thursday</td>         
             <td>Republic day</td>       
         </tr>       
         <tr>         
             <td>2</td>         
             <td>3/8/2023</td>         
             <td>Wednesday</td>         
             <td>Holi</td>       
         </tr>       
         <tr>         
             <td>3</td>         
             <td>5/1/2023</td>         
             <td>Monday</td>         
             <td>Maharashtra Day</td>      
         </tr>       
         <tr>         
             <td>4</td>         
             <td>8/15/2023</td>         
             <td>Tuesday</td>         
             <td>Independence day</td>       
         </tr>       
         <tr>         
             <td>5</td>         
             <td>9/19/2023</td>         
             <td>Tuesday</td>         
             <td>Ganesh chaturthi</td>       
         </tr>       
         <tr>         
             <td>6</td>         
             <td>9/28/2023</td>         
             <td>Thursday</td>         
             <td>Ganesh visarjan</td>       
         </tr>       
         <tr>         
             <td>7</td>         
             <td>10/2/2023</td>         
             <td>Monday</td>         
             <td>Gandhi Jayanti</td>       
         </tr>       
         <tr>         
             <td>8</td>         
             <td>10/24/2023</td>         
             <td>Tuesday</td>         
             <td>Dussera</td>       
         </tr>       
         <tr>         
             <td>9</td>         
             <td>11/13/2023</td>         
             <td>Monday</td>         
             <td>Diwali</td>       
         </tr>       
         <tr>         
             <td>10</td>         
             <td>11/14/2023</td>         
             <td>Tuesday</td>         
             <td>Diwali</td>       
         </tr>       
         <tr>         
             <td>11</td>         
             <td>11/15/2023</td>         
             <td>Wednesday</td>         
             <td>Bhai Duj</td>       
         </tr>       
         <tr>         
             <td>12</td>         
             <td>12/25/2023</td>         
             <td>Monday</td>         
             <td>Christmas</td>       
         </tr>     
     </tbody>   
</table> 
</div>